*{
    margin:0;
    padding: 0;
    box-sizing: border-box
}
.register{
    margin: auto 10px;
    min-width: 300px;;
    min-height: 300px;
    border: 1px dashed grey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-width: 3px;
   
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px auto;
}

label{
    color: grey;
    font-weight: 900;
    margin-bottom: 2px ;
}
input{
    padding: 7px;
    width: auto;
    border: 1px solid grey;
    outline: none;
    margin-top: -5px;

}
input:focus{
    background-color: grey;
    color: white;
}
input:focus::placeholder{
    color: white;
}
button{
    width: 100px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid grey;
}
button:hover{
    background-color: grey;
    color: white;
    transition: all 0.5s;
}
.btn{
    display: flex;
    gap: 5px;
}
.uniq{
    width: 50px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid grey;
    margin-top: 8px;
}
.uniq:hover{
    background-color: grey;
    color: white;
    transition: all 0.5s;
}
p{
    color: grey;
}
h2{
    font-size: 20px;
    opacity: 0.4;
}
.img{
    width: 25px;
    padding: 2px;
    margin-top: 10px;
}
Nav{
    background-color: rgba(128, 128, 128, 0.171);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: 900;
    
}
h3{
    background-color: coral;
    background: linear-gradient(to right, green,yellow, aliceblue, crimson,teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    letter-spacing: 5px;
    text-align: start;
    animation: geolocate 10s linear forwards;
}
@keyframes geolocate {
    from{
        letter-spacing: -10px;
        width: 0%;
        text-align: start;
        
    }
    to{
        letter-spacing: 30px;
        text-align: center;
        width: 100vw;
        font-weight: bolder;
    }
}
footer{
    text-align: center;
    background-color: gray;
    width: 100vw;
    height: 8vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -10px;
}
footer p{
    color: white;
    text-align: center;   
}

@media screen and (max-width:600px) {
    footer{        
    text-align: center;
    background-color: gray;
    width: 100%;
    height: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    }
   
}